params {
    epochs = "300"
    lr = "0.1,0.01,0.001" // 0.1,0.01,0.001
    lrdecay = "1.0,0.99,0.5,0.01" // 1.0,0.99,0.5,0.01
    batch_size = "16,32,50,64,100" //16,32,50,64,100

    use_gpu = true

    skip_centralized = false
    skip_federated = true
    gradient_clipping = "False"
    outdir = "./results_centralized_hyperparam_new"
}