params {

    skip_centralized = false
    skip_local       = false // centralized local runs on local data for each client
    skip_federated   = false


    epochs = "25"
    dataset = "ecg_physionet_level0_iid,ecg_physionet_level1_mild_skew,ecg_physionet_level2_severe_skew,ecg_physionet_level3_natural,ecg_physionet_level4_natural_and_severe_skew,ecg_physionet_level5_temporal"
    data_folder = "/gpfs/commons/groups/gursoy_lab/aelhussein/fl4tsf/data/ecg_physionet/splits/"

    lr = "0.001" // 0.1,0.01,0.001
    lrdecay = "1.0" // 1.0,0.99,0.5,0.01
    batch_size = "32" //16,32,50,64,100

    use_gpu = false

    serverrounds = "25"
    localepochs = "10"

    input_dim = 12
    obsrv_std = 0.01
    poisson = true
    z0_encoder = "odernn"
    train_classif_w_reconstr = false
    classif = false
    linear_classif = false
    classif_per_tp = false
    n_labels = 1

    aggregation = "FedODE"
    clients = "2"
    alpha = "0.0,0.25,0.5,0.75,1.0" // 0.0,0.25,0.5,0.75,1.0
    replicate = 1

    gradient_clipping = "False"
    outdir = "./results_ecg_simulation"
}