params {

    skip_centralized = true
    use_gpu = true

    skip_federated = false

    lrdecay = "1.0" // 1.0,0.99,0.5,0.01

    lr = "0.001" // 0.1,0.01,0.001
    batch_size = "32" //16,32,50,64,100

    serverrounds = "60"
    localepochs = "10"
    decay_onset = "30"

    aggregation = "FedAvg,FedODE"
    clients = "2"
    alpha = "0.0,0.25,0.5,0.75,1.0"
    //alpha = "0.5"
    replicate = 2
    
    
    gradient_clipping = "False"
    outdir = "./results_fedODE"
}