params {
    epochs = "100"
    dataset = "ampfreq_noniid_offset_0.1,ampfreq_noniid_offset_0.5,ampfreq_noniid_offset_1.0,ampfreq_noniid_offset_2.0,ampfreq_noniid_offset_5.0,ampfreq_noniid_offset_10.0"

    lr = "0.001" // 0.1,0.01,0.001
    lrdecay = "1.0" // 1.0,0.99,0.5,0.01
    batch_size = "64" //16,32,50,64,100

    use_gpu = true

    serverrounds = "100"
    localepochs = "10"

    z0_encoder = "odernn"

    aggregation = "FedAvg,FedODE"
    clients = "2"
    alpha = "0,0.25,0.5,0.75,1.0"
    replicate = 1
    skip_centralized = true
    skip_federated = false
    gradient_clipping = "False"
    outdir = "./results_ampfreq"
}