
process{

    withName: CENTRALIZED_TRAINING{
        publishDir = [
            path: { "${params.outdir}/${meta.id}/centralized_training/${meta.epochs}_epochs" },
            mode: "copy"
        ]
        if(params.use_gpu) {
            accelerator = 1 
            acceleratorType = 'gpu'
        }

    }

    withName: FEDERATED_TRAINING{
        publishDir = [
            path: { "${params.outdir}/${meta.id}/federated_training/${meta.serverrounds}_rounds" },
            mode: "copy"
        ]
        if(params.use_gpu) {
            accelerator = 1 
            acceleratorType = 'gpu'
        }

    }
}