
process{
    accelerator = 0
    withName: CENTRALIZED_TRAINING{
        tag = { "${meta.id} - epochs:${meta.epochs}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/centralized_training/${meta.epochs}_epochs/lr_${meta.lr}-batchsize_${meta.batch_size}_clipping_${meta.gradientclipping}_lrdecay_${meta.lrdecay}" },
            mode: "copy"
        ]
        if(params.use_gpu) {
            accelerator = 1 
        }else{
            accelerator = 0
        }

    }

    withName: FEDERATED_TRAINING{
        tag = { "${meta.id} - ${meta.aggregation} rounds:${meta.serverrounds} localepochs: ${meta.localepochs}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/federated_training/${meta.aggregation}/${meta.serverrounds}_rounds/rep_${meta.replicate}-alpha_${meta.alpha}-lr_${meta.lr}-batchsize_${meta.batch_size}_clipping_${meta.gradientclipping}_lrdecay_${meta.lrdecay}_localepochs_${meta.localepochs}_decayonset_${meta.decay_onset}_alpha_${meta.alpha}" },
            mode: "copy"
        ]
        if(params.use_gpu) {
            accelerator = 1 
        }else{
            accelerator = 0
        }

    }
}