singularityDir = "/gpfs/commons/groups/gursoy_lab/aelhussein/fl4tsf/.singularity/singularity_images_nextflow"
 
 
singularity {
    cacheDir   = singularityDir
}

process {
    executor = 'slurm'
    clusterOptions = '--exclude=ne1dg6-004'
    queue    = { task.accelerator.request > 0  ? 'gpu' : (task.memory > 100.GB ? 'bigmem' : 'cpu') }
}

 
executor {
    queueSize       = 196
    submitRateLimit = '5 sec'
    dumpInterval = '60 sec'
}