params {

    skip_centralized = false
    skip_local       = false // centralized local runs on local data for each client
    skip_federated   = false


    epochs = "10"
    dataset = "physionet_filtered"

    lr = "0.001" // 0.1,0.01,0.001
    lrdecay = "1.0" // 1.0,0.99,0.5,0.01
    batch_size = "64" //16,32,50,64,100

    use_gpu = true

    serverrounds = "10"
    localepochs = "10"

    input_dim = 12 // TODO check why not 37
    obsrv_std = 0.01
    poisson = true
    rec_layers = 3
    gen_layers = 3
    units = 500
    gru_units = 500
    latents = 30
    rec_dims = 40
    z0_encoder = "odernn"
    train_classif_w_reconstr = false
    classif = false
    linear_classif = false
    classif_per_tp = false
    n_labels = 1

    aggregation = "FedAvg,FedODE"
    clients = "2"
    alpha = "0.0,0.5,1.0"
    replicate = 1

    gradient_clipping = "False"
    outdir = "./results_physionet_filtered"
}