params {
    epochs = "100"
    dataset = "periodic_noniid_freq2,periodic_noniid_freq4,periodic_noniid_amp,periodic_noniid_ampfreq"
    //dataset = "periodic_noniid_freq2,periodic_noniid_freq4"

    lr = "0.001" // 0.1,0.01,0.001
    lrdecay = "1.0" // 1.0,0.99,0.5,0.01
    batch_size = "64" //16,32,50,64,100

    use_gpu = false

    serverrounds = "100"
    localepochs = "3,5,10,20"

    aggregation = "FedAvg"
    clients = "2"
    alpha = 0.5
    replicate = 1
    skip_centralized = false
    skip_federated = true
    gradient_clipping = "False"
    outdir = "./results_noniid_granular"
}