params {
    epochs = "100"
    dataset = "freq_amp_decay_cen*"

    lr = "0.001" // 0.1,0.01,0.001
    lrdecay = "1.0" // 1.0,0.99,0.5,0.01
    batch_size = "64" //16,32,50,64,100

    use_gpu = false

    serverrounds = "100"
    localepochs = "10"

    z0_encoder = "odernn"

    aggregation = "FedODE"
    clients = "2"
    alpha = " 0.0" // 0.0, 0.25, 0.5, 0.75, 1.0
    replicate = 1
    skip_centralized = false
    skip_federated = true
    gradient_clipping = "False"
    outdir = "./results_freq_noise"
}