params {

    skip_centralized = true
    skip_local       = true // centralized local runs on local data for each client
    skip_federated   = false

    epochs = "20"
    dataset = "timescales" // periodic_clients, periodic_clients_2, periodic_clients_3

    lr = "0.001" // 0.1,0.01,0.001
    lrdecay = "1.0" // 1.0,0.99,0.5,0.01
    batch_size = "32" //16,32,50,64,100

    use_gpu = false

    serverrounds = "20"
    localepochs = "5"

    z0_encoder = "odernn"

    aggregation = "FedODE"
    clients = "2"
    alpha = "0.0,0.5,1.0" // 0.0, 0.25, 0.5, 0.75, 1.0
    replicate = 1

    gradient_clipping = "False"
    outdir = "./results_timescales"
}